version: '3.8'

services:
  web:
    build:
      context: .
      args:
        - VITE_MISTRAL_API_KEY=${VITE_MISTRAL_API_KEY}
    ports:
      - "8080:80"
    restart: always
    container_name: timetravel-agency